NODE_ENV=development
PORT=3000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=nexus_user
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=nexus_arcade
DATABASE_URL=postgresql://nexus_user:your_postgres_password_here@localhost:5432/nexus_arcade?schema=public
ADMIN_EMAIL=admin@nexus.local
ADMIN_PASSWORD=your_admin_password_here
JWT_SECRET=your_jwt_secret_key_here_change_in_production
JWT_EXPIRES_IN=8h

# Configurações de E-mail SMTP (Preencha para enviar e-mails reais para a caixa de entrada do usuário)
#GMAIL
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=seu.email@gmail.com
SMTP_PASS=sua_senha_de_app_aqui
SMTP_FROM="Nexus Arcade Security <seu.email@gmail.com>"

#OUTLOOK
# SMTP_HOST=smtp.office365.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=seu.email@hotmail.com (ou @outlook.com)
# SMTP_PASS=sua_senha_do_outlook
# SMTP_FROM="Nexus Arcade Security <seu.email@hotmail.com>"